.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
    .logo {
      justify-self: start;
      font-weight: bold;
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-self: flex-end;
      li {
          margin-right: 15px;
        }
    }
}
